<%- include('Partials/Header.ejs'); -%>

    <%- include('Partials/Menu.ejs'); -%>
        <% let SubTitle="ايراد" , DocType="سند قبض" %>
            <% if (Title.includes("مصاريف")){ %>
                <% SubTitle="مصروف" ,DocType="سند دفع"  %>
                    <% } %>
                        <div class="Layout-Container">

                            <%- include('Partials/DetailsCompany.ejs'); -%>

                            <div class="Wrapper-Tilte">
                                <h1 class="Title-Container"><%= Title %></h1>
                                <div class="line">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                                <div class="Buttons-Container">
                                    <div class="right">
                                        <div class="Row grid-4">
                                            <div class="card-item Green">
                                                <i class='item-icon bx bx-hash'></i>
                                                <div class="center">
                                                    <h3 class="TableLength">0.00</h3>
                                                    <p>عدد <%= Title %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-item Primary">
                                                <i class='item-icon bx bx-dollar'></i>
                                                <div class="center">
                                                    <h3 class="EveryDay">0.00</h3>
                                                    <p>
                                                        <%= Title %> اليومية
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-item Teal">
                                                <i class='item-icon bx bx-dollar'></i>
                                                <div class="center">
                                                    <h3 class="EveryMonth">0.00</h3>
                                                    <p>
                                                        <%= Title %> الشهرية
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-item Blue">
                                                <i class='item-icon bx bx-dollar'></i>
                                                <div class="center">
                                                    <h3 class="EveryYear">0.00</h3>
                                                    <p>
                                                        <%= Title %> السنوية
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="left">
                                        <%- include('Partials/Buttons.ejs'); -%>
                                    </div>
                                </div>

                                <div class="Search-Container">
                                    <div class="input-box">
                                        <input type="search" id="SearchByName" class="SearchInput" onkeyup="Search()"
                                            required>
                                        <label>البحث بالاسم </label>
                                        <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                                        <div class="Filter-box">
                                            <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                                            <i class='bx bxs-filter-alt Filter-icon' onclick="ShowFilter()"></i>
                                            <div class="filter-item arrow arr-top-left">
                                                <h5 id="SearchByName" class="active">البحث بالاسم</h5>
                                                <h5 id="SearchByType">البحث بالنوع</h5>
                                                <h5 id="SearchByAmount">البحث بالقيمة</h5>
                                                <h5 id="SearchByUser">البحث بالمنشئ</h5>
                                            </div>
                                        </div>
                                        <span class='bx bx-search'></span>
                                    </div>
                                    <%- include('Partials/SearchDate.ejs'); -%>
                                </div>

                                <div class="Table-Container">
                                    <table class="Table HideTh">
                                        <thead>
                                            <tr>
                                                <th>م</th>
                                                <th>
                                                    <div class="FlexTH">
                                                        <Span>اسم ال<%= SubTitle %></Span>
                                                        <i id="Name" class='bx bx-filter-alt Filter-icon'
                                                            onclick="SortMyData(event)"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="FlexTH">
                                                        <Span>نوع ال<%= SubTitle %></Span>
                                                        <i id="Type" class='bx bx-filter-alt Filter-icon'
                                                            onclick="SortMyData(event)"></i>
                                                    </div>
                                                </th>
                                                <th>نوع القيمة</th>
                                                <th>المبلغ</th>
                                                <th>
                                                    <div class="FlexTH">
                                                        <Span>اخر تعديل</Span>
                                                        <i id="Date" class='bx bx-filter-alt Filter-icon'
                                                            onclick="SortMyData(event)"></i>
                                                    </div>
                                                </th>
                                                <th>المنشئ</th>
                                                <th>الاجراء</th>
                                            </tr>
                                        </thead>
                                        <tbody class="Table-body"></tbody>
                                    </table>
                                </div>

                        </div>

                        <div class="Form-Container Form-ADD">
                            <div class="overlow"></div>
                            <form class="Form">
                                <div class="Form-scroll">
                                    <i onclick="Hide_Container()" class="bx bx-x X-Toast"></i>
                                    <div class="Form-header">
                                        <div class="">
                                            <h3>اضافة <%= SubTitle %> جديد</h3>
                                        </div>
                                        <i class="Form-logo">
                                            <img src="Img/Logo.png" alt="" srcset="">
                                            <h1 class="logo-text">MODERN</h1>
                                        </i>
                                    </div>


                                    <div class="Form-body">
                                        <div class="input-box">
                                            <input type="text" class="Name" required>
                                            <label>الاسم *</label>
                                            <span class="bx bx-user"></span>
                                        </div>
                                        <div class="Row grid-2">
                                            <div class="input-box">
                                                <select class="Type">
                                                    <option value="<%= SubTitle %> يومي" selected>
                                                        <%= SubTitle %> يومي
                                                    </option>
                                                    <option value="<%= SubTitle %> شهري">
                                                        <%= SubTitle %> شهري
                                                    </option>
                                                    <option value="<%= SubTitle %> سنوي">
                                                        <%= SubTitle %> سنوي
                                                    </option>
                                                </select>
                                                <label>نوع ال<%= SubTitle %></label>
                                                <span class='bx bxs-category-alt'></span>
                                            </div>
                                            <div class="input-box">
                                                <select class="AmountType">
                                                    <option value="قيمة متغيرة" selected>قيمة متغيرة</option>
                                                    <option value="قيمة ثابتة">قيمة ثابنة</option>
                                                </select>
                                                <label>قيمة القيمة</label>
                                                <span class='bx bxs-category-alt'></span>
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <input type="number" class="Amount" required>
                                            <label>المبلغ </label>
                                            <span class='bx bx-dollar'></span>
                                        </div>
                                    </div>
                                    <div class="Form-footer">
                                        <button type="button" onclick="NewRevenueOrExpense()" class="btn btn-Save">حفظ
                                            البيانات</button>
                                        <button type="button" onclick="Hide_Container()"
                                            class="btn btn-Cancel">الغاء</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="Form-Container Form-Collect">
                            <div class="overlow"></div>
                            <form class="Form">
                                <div class="Form-scroll">
                                    <i onclick="Hide_Container()" class="bx bx-x X-Toast"></i>
                                    <div class="Form-header">
                                        <div class="Wrapper-Tilte">
                                            <h3><%= DocType %></h3>
                                            <div class="line">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <i class="Form-logo">
                                            <img src="Img/Logo.png" alt="" srcset="">
                                            <h1 class="logo-text">MODERN</h1>
                                        </i>
                                    </div>

                                    <div class="Person-Details">
                                        <div class="right">
                                            <div class="item">
                                                <h4>اسم ال<%= SubTitle %>
                                                </h4>
                                                <p class="Name"></p>
                                            </div>
                                            <div class="item">
                                                <h4>نوع ال<%= SubTitle %>
                                                </h4>
                                                <p class="Type"></p>
                                            </div>
                                            <div class="item">
                                                <h4>قيمة ال<%= SubTitle %>
                                                </h4>
                                                <p class="AmountType"></p>
                                            </div>
                                        </div>
                                        <div class="left">
                                            <div class="item">
                                                <h4>اجمالي المدفوع</h4>
                                                <p class="Balance"></p>
                                            </div>
                                            <div class="item">
                                                <h4>قيمة ال<%= SubTitle %>
                                                </h4>
                                                <p class="Amount"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="Form-body">
                                        <div class="Row grid-2">
                                            <div class="input-box">
                                                <input type="text" class="DocDate" onfocus="(this.type='date')"
                                                    onblur="(this.type='text')" required>
                                                <label>التاريخ *</label>
                                                <span class="bx bx-calendar"></span>
                                            </div>
                                            <div class="input-box">
                                                <input type="number" min="1" class="Total" required>
                                                <label>المبلغ *</label>
                                                <span class='bx bx-dollar'></span>
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <input type="text" class="Statment" required>
                                            <label>بيان وملاحظات</label>
                                            <span class='bx bxs-message-dots'></span>
                                        </div>

                                    </div>
                                    <div class="Form-footer">
                                        <button type="button" onclick="NewCollectOrPayment(id)" class="btn btn-Save">حفظ
                                            البيانات</button>
                                        <button type="button" onclick="Hide_Container()"
                                            class="btn btn-Cancel">الغاء</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <%- include('Partials/Footer.ejs'); -%>

                            <script src="Js/16-Revenues.js"></script>

                            </body>

                            </html>