<%- include('Partials/Header.ejs'); -%>

    <%- include('Partials/Menu.ejs'); -%>

        <% let SubTitle="ايراد" , DocType="المحصل" %>
            <% if (Title.includes("المصاريف")){ %>
                <% SubTitle="مصروف" ,DocType="المدفوع" %>
                    <% } %>
                        <div class="Layout-Container">

                            <%- include('Partials/DetailsCompany.ejs'); -%>

                                <div class="Wrapper-Tilte">
                                    <h1 class="Title-Container">
                                        <%= Title %>
                                    </h1>
                                    <div class="line">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>

                                <div class="Buttons-Container">
                                    <div class="right">
                                        <div class="Row grid-4">
                                            <div class="card-item Primary">
                                                <i class='item-icon bx bx-dollar'></i>
                                                <div class="center">
                                                    <h3 class="FinalBalance">0.00</h3>
                                                    <p>اجمالي <%= DocType %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="left">
                                        <%- include('Partials/Buttons.ejs'); -%>
                                    </div>
                                </div>

                                <div class="Search-Container">
                                    <div class="input-box">
                                        <input type="search" id="SearchByName" class="SearchInput" onkeyup="Search()"
                                            required>
                                        <label>البحث بالاسم</label>
                                        <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                                        <div class="Filter-box">
                                            <div class="tooltip arrow arr-bottom-left">حدد طريقة البحث</div>
                                            <i class='bx bxs-filter-alt Filter-icon' onclick="ShowFilter()"></i>
                                            <div class="filter-item arrow arr-top-left">
                                                <h5 id="SearchByName" class="active">البحث بالاسم </h5>
                                                <h5 id="SearchByDocType">البحث بنوع الفاتورة</h5>
                                                <h5 id="SearchByStatment">البحث بالبيان</h5>
                                                <h5 id="SearchByUser">البحث بالمنشئ</h5>
                                            </div>
                                        </div>
                                        <span class='bx bx-search'></span>
                                    </div>
                                    <%- include('Partials/SearchDate.ejs'); -%>
                                </div>

                                <div class="Table-Container">
                                    <table class="Table">
                                        <thead>
                                            <tr>
                                                <th>م</th>
                                                <th>
                                                    <div class="FlexTH">
                                                        <Span>التاريخ</Span>
                                                        <i id="DocDate" class='bx bx-filter-alt Filter-icon'
                                                            onclick="SortMyData(event)"></i>
                                                    </div>
                                                </th>
                                                <th>رقم الفاتورة</th>
                                                <th>نوع الفاتورة</th>
                                                <th>اسم ال<%= SubTitle %>
                                                </th>
                                                <th>بيان</th>
                                                <th>مدين</th>
                                                <th>دائن</th>
                                                <th>المنشئ</th>
                                            </tr>
                                        </thead>
                                        <tbody class="Table-body"></tbody>
                                    </table>
                                </div>

                        </div>

                        <%- include('Partials/Footer.ejs'); -%>

                            <script src="Js/18-RevenuesReport.js"></script>

                            </body>

                            </html>